html{
    magin:0;
    padding:0%;
    font-family: "Roboto";
    body {
        magin: 0;
        display: 0;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-rendering: underline;
}
#nav_bar {
    float: right;
}
#nav_bar li {
    display: inline-block;
    margin: 8px;
}
#nav_bar #gm {
    background-color: #4887ef;
    margin: 15px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
#nav_bar #ms {
    background-color: #ef4848;
    margin: 15px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
#nav_bar #e_a {
    background-color: #afef48;
    margin: 15px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
#nav_bar #aj {
    background-color: #22b8cc;
    margin: 15px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
#nav_bar #spt {
    background-color: #c917b169;
    margin: 15px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
#log1 img {
    display: block;
    margin: auto;
    clear: both;
    padding-top: 90px;
    scroll-padding-bottom: 20px;
}
#sug {
    whidth: 450px;
    line-height: 30px;
}
#botoes {
    padding-top: 30px;
    padding: center;
    text-align: center;
    margin: 10px 20px;
}
footer {
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    position: fixed;
    bottom: 0;
    width: 100%;

}
footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 12px; 
}
#footer_esquerdo {
    float: left;
}
#footer_direito {
    float: right;
}
#barra_central {
    width: 450px;
    line-height: 30px;
}
form {
    text-align: center;
}
footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 12px; 
}